/bootstrap/compiled.php
/bootstrap/environment.php
/vendor
composer.phar
.env.local.php
.env.php
.DS_Store
Thumbs.db
.vagrant
/www/css/builds/
/www/js/builds/
/app/storage/dumps/
/app/storage/cron.lock
/document_errors/
/logs
/public_shtml
/public_html
/app/config/production/remote.php